body {
    background: #050f08;
    color: #39ff14;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 32px;
    margin: 0;
    height: 100vh;
}

#terminal {
    position: relative;
    max-width: 70%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    font: inherit;
    margin-left: 5%;
    text-shadow: 0 0 8px rgba(57, 255, 20, 0.4);
}

#terminal-input {
    position: absolute;
    bottom: 60px;
    left: 22px;
    right: 20px;
    background: transparent;
    border: none;
    outline: none;
    line-height: 1.2;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none; 
    font: inherit;
    color: inherit;
    text-shadow: 0 0 6px rgba(57, 255, 20, 0.4);
}

#terminal-status {
    position: absolute;
    bottom: 10px;              /* sits under input */
    left: 25px;
    right: 20px;

    font-size: 12px;        /* smaller than main terminal text */
    color: inherit;
    font: inherit;

    border-top: 3px solid rgba(57, 255, 20, 0.2);
    padding-top: 6px;

    white-space: pre;
    text-shadow: 0 0 6px rgba(57, 255, 20, 0.3);
}

/* CONTENT AREA */
#content {
    margin-top: 20px;
}

#content img,
#content video {
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid #39ff14;
}

.option {
    cursor: pointer;
}


.option::before {
    content: "[ > ";
}

.option::after {
    content: " ]";
}

.option:hover::before {
    content: "[ >> ";
}
